/* grabbed most of this from karl */
code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
    color: #slateblue;
}

a {
    color: #slateblue;
}

a:hover {
    color: darkslateblue;
    background-color: #e3e4fa;
    text-decoration: none;
}

a img {
    border: solid 2px white;
}

a:hover img {
    color: darkslateblue;
    background-color: #e3e4fa;
    text-decoration: none;
    border: solid 2px #e3e4fa;
}

p.center {
    text-align: center;
}

table.wide {
    width: 100%;
}

table.wide td {
    padding-top: 20px;
    padding-bottom: 20px;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

#hide_email b {
    display: none;
}


h1, h2, h3, h4 {
    color: darkslateblue;
}

/* this I had from somewhere else */

html {
    overflow-y: scroll; }

.navbar .nav {
  float: right; }

.container-narrow {
margin: 0 auto;
max-width: 820px; }

.container-narrow > hr {
margin: 30px 0; }

.navbar .nav {
float: right; }

.centerTable { margin: 0px auto; }

table {border: none;}

