/* grabbed most of this from karl */

h1, h2, h3, h4 {
    color: darkslateblue;
}

/* size of page */
.container-narrow {
  margin: 0 auto;
  max-width: 200px; }


/* this I had from somewhere else */


html {
    overflow-y: scroll; }

.navbar .nav {
  float: right; }

.container-narrow {
margin: 0 auto;
max-width: 820px; }

.container-narrow > hr {
margin: 30px 0; }

.navbar .nav {
float: right; }

.centerTable { margin: 0px auto; }

table {border: none;}

