html {
    overflow-y: scroll; }

.navbar .nav {
  float: right; }

.container-narrow {
margin: 0 auto;
max-width: 820px; }

.container-narrow > hr {
margin: 30px 0; }

.navbar .nav {
float: right; }


