/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* For Fixed Nav Bar */
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 200px; /*Was 80px, but footer got too big*/
 }
.footer {
  position: absolute;
    bottom: 0;
    width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 80px;*/ /*had to comment this out becuase long footer changed height*/
    background-color: #f5f5f5;
}
.footerBox {
  padding-top: 15px;
  padding-bottom: 15px;
}


/* Added by rafa */
h1, h2, h3, h4 {
    color: darkslateblue;
}

