<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="preload">
    <div class="top"></div>
    <div class="profile" style="background-color: grey"><!-- style="background-image: url({{ site.background }});">-->
        <h3>{{ site.name }}</h3>
        <p>{{ site.description }}</p>
        <ul class="social">
            <a type="button" href="http://github.com/{{ site.github }}">
                <i class="fa fa-github"></i>
            </a>
            <a type="button" href="http://twitter.com/{{ site.github }}">
                <i class="fa fa-twitter"></i>
            </a>
        </ul>
    </div>
    <div class="posts">
        {{ content }}
    </div>
</body>
<script type="text/javascript">
    window.onload = function(){
        document.getElementsByTagName("BODY")[0].classList.remove("preload");
    }
</script>
</html>
